.powered_by {
  background-color: var(--color-ink-900);
  color: var(--color-white);
  margin-top: 3rem;
  font-size: 0.8rem;
  padding: .7rem 0;
}

.powered_by small {
  font-weight: bold;
}

.powered_by a {
  color: var(--color-white);
  text-decoration: none;
}

@media screen and (min-width: 2560px) {
  .powered_by {
    font-size: 1.2rem;
  }
}