.navbar {
	font-weight: bold;
	background-color: #fff;
	padding-right: calc(2.8rem * 0.9);
	padding-left: calc(2.8rem * 0.9);
}

.navbar_brand {
	transition: all linear 0.8s;
	width: 31%;
	height: 100%;
	margin-left: 0.8rem;
}

.navbar_brand img {
	width: 6rem;
	height: 6rem;
	object-fit: contain;
}

.resize {
	transition: all linear 0.6s;
	width: 8rem !important;
	height: 6rem !important;
	font-size-adjust: 1rem;
}

.offCanvasTitle {
	width: 20%;
}

.navbar_nav {
	margin-right: 5rem;
}

.link {
	text-decoration: none;
	font-size: 1.2rem;
	color: rgb(56, 46, 48);
	margin-left: 2rem;
}

.link:hover {
	color: rgb(207, 168, 68);
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
	.toggler {
		/* margin-right: 30px; */
	}

	.navbar .navbar_brand {
		transition: all linear 0.8s;
		/* width: 15%; */
	}

	.resize {
		transition: all linear 0.6s;
		width: 10%;
		font-size-adjust: 1rem;
	}
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
	.navbar {
		font-weight: bold;
		background-color: #fff;
	}

	.navbar_brand {
		transition: all linear 0.6s;
		width: 12.5%;
		height: 100%;
	}

	.navbar .resize {
		transition: all linear 0.6s;
		width: 6%;
		font-size: 1rem;
	}

	.link {
		font-size: 1.2rem;
		color: rgb(34, 21, 6);
	}

	.link:hover {
		color: rgb(207, 168, 68);
	}
}

@media screen and (min-width: 1440px) and (max-width: 2559px) {
	.navbar {
		font-weight: bold;
		background-color: #fff;
	}

	.navbar_brand {
		transition: all linear 0.6s;
		width: 12.5%;
		height: 100%;
	}

	.resize {
		transition: all linear 0.6s;
		width: 6%;
		font-size: 1rem;
	}

	.link {
		font-size: 1.2rem;
		color: rgb(34, 21, 6);
	}

	.link:hover {
		color: rgb(207, 168, 68);
	}
}

@media screen and (min-width: 2560px) {
	.navbar {
		font-weight: bold;
		background-color: #fff;
	}

	.navbar_brand {
		transition: all linear 0.6s;
		width: 12.5%;
		height: 100%;
	}

	.resize {
		transition: all linear 0.6s;
		width: 6%;
		font-size: 1rem;
	}

	.link {
		font-size: 1.7rem;
		color: rgb(34, 21, 6);
	}

	.link:hover {
		color: rgb(207, 168, 68);
	}
}
