.form_container {
	width: 100%;
}

#form {
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	align-items: center;
	margin-top: 1rem;
	padding-bottom: 3rem;
}

#form > label {
	margin-top: 3rem;
	min-width: 312px;
	max-width: 600px;
	width: auto;
	color: rgb(56, 46, 48);
	font-size: 1.3rem;
	text-align: left;
	align-self: flex-start;
}

#form > input,
#form > select,
#form > textarea {
	border-top: none;
	border-left: none;
	border-right: none;
	border-width: 0.062rem !important;
	border-color: #1c2a3a51 !important;
	color: rgb(56, 46, 48);
	border-radius: 3px;
}

#form > input:focus,
#form > select:focus,
#form > textarea {
	outline: none;
}

#form > input:focus::placeholder,
#form > textarea:focus::placeholder {
	color: transparent;
}

#form > textarea {
  height: 8rem;
  width: 100%;
  align-self: center;
}

#form .error {
	color: red;
	font-weight: 500;
	padding-top: 0;
	width: 40rem;
	font-size: 1.2rem;
}

#form > input::placeholder,
#form select,
#form > textarea::placeholder {
	color: rgba(86, 98, 113, 0.5);
	font-size: 1rem;
}

.contact_form_button_container {
	width: auto;
	display: flex;
	justify-content: flex-end;
	margin-top: 2rem;
}

.alert_div {
	position: fixed;
	/* bottom: 0; */
}

@media screen and (min-width: 425px) and (max-width: 767px) {
	.form_container {
		width: 100%;
		padding: 0 1rem; /* Optional: Adds some spacing on the sides */
	}

	#form {
		width: 100%;
		max-width: 600px;
		margin: 0 auto;
		align-items: stretch;
	}

	#form > label,
	.contact_form_button_container {
		width: 100%;
	}

	#form > input,
	#form > select,
	#form > textarea {
		width: 100%;
		min-height: 3rem;
	}

	#form .error {
		width: 100%;
	}
}

@media screen and (min-width: 768px) and (max-width: 991px) {
	#form {
		width: 100%;
		max-width: 600px;
		margin: 0 auto;
		align-items: stretch;
	}

	#form > input,
	#form > select,

	#form > label,
	#form > .error {
		width: 100%;
		height: 3rem;
	}
}

@media screen and (min-width: 992px) and (max-width: 1439px) {
	#form > input,
	#form > select,
	
	#form > label,
	#form > .error {
		width: auto;
		min-width: 500px;
		height: 3rem;
		align-self: center;
	}

  #form > textarea {
    width: auto;
    min-width: 500px;
    height: 8rem;
  }
}

@media screen and (min-width: 1440px) {
	#form {
		width: 100%;
		max-width: 700px;
		margin: 0 auto;
		align-items: stretch;
	}

	#form > label,
	#form > input,
	#form > select,
	#form > textarea,
	#form > .error,
	.contact_form_button_container {
		width: 100%;
		min-width: 0;
		align-self: stretch;
	}

	#form > input,
	#form > select,
	#form > textarea {
		min-height: 3rem;
	}
}
