.improvement_container {
  margin-top: 3rem;
  padding-right: calc(2.8rem * 0.9);
  padding-left: calc(2.8rem * 0.9);
}

.website_improvement_img_container {
  position: relative;
  width: 100%;
  /* height: 150px; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
}

.website_improvement_img_container::before {
  content: '';
  background-image: url('../../assets/website-improvement.avif');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 1;
}

#website_improvement_img_container_text {
  position: relative;
  color: #ffffff;
  background: rgba(128, 128, 128, 0.295);
  font-size: 2.5rem;
  line-height: 1;
  text-align: center;
  font-weight: bold;
  padding: 0 1rem;
  width: 100%;
}

.website_improvement_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.3rem;
  align-items: center;
  text-align: center;
}

@media (hover: hover) and (pointer: fine) {
  .website_improvement_img_container {
    height: 100%;
  }

  #website_improvement_img_container_text {
    font-size: 6.4rem;
  }

  .website-improvement_container {
    margin: 5rem 0;
  }

  .website_improvement_text {
    padding: 0 15rem;
  }

  .contact_form {
    margin: 5rem 0 10rem;
  }
}
